.header {
    border-bottom: 1px solid $clr-header-border;

    &-contacts {
        
    @media screen and (min-width: 1200px){
        margin-left: auto;
        gap: 50px;
    }
}
    &__logo {
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 16px;
        color: $clr-header-logo;

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    }
}

.header__container,
.nav,
.nav__list,
.header-contacts {
    // display: flex;
}

.nav__list {
    // margin-left: 93px;
    // gap: 50px;
    // flex-basis: calc((100% - 100px) / 3);
}

.nav,
.header-contacts {
    // align-items: center;
}

.nav__link,
.header-contacts__link {
    // display: block;
    // padding: 32px 0;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: calc(16 / 14);
    // letter-spacing: 0.02em;
    // text-decoration: none;
    // color: $clr-txt-secondary;
    // transition: color $transition;

    // &:hover,
    // &:focus {
    //     color: $clr-accent;
    // }
}

.header-contacts__link {
    // display: flex;
    // align-items: center;
    // color: inherit;
}

.header-contacts__icon {
    // margin-right: 10px;
    // fill: currentColor;
    // transition: fill $transition;

    // .header-contacts__link:hover &,
    // .header-contacts__link:focus & {
    //     fill: currentColor;
    // }
}

.logo--alt {
    color: $clr-accent;
}

.nav__link--current {
    // position: relative;
    // color: $clr-accent;

    // &::after {
    //     position: absolute;
    //     left: 0;
    //     bottom: -1px;
    //     content: "";
    //     width: 100%;
    //     height: 4px;
    //     border-radius: 2px;
    //     background-color: $clr-accent;
    // }
}